body{
  background-color: rgb(33, 29, 29);
}

.card_x{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

header{
  display: flex;
  align-items: center;
  gap: 15px;
}

.attributes{
  color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img_avatar{
  width: 50px;
  border-radius: 100%;
}

.follow_x{
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  margin-left: 26px;
}